ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
    --background: #D9663D !important;
}
ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
    --background: #D9663D !important;
}
.titulo{
    --color: aliceblue !important;
    font-family: 'Edu VIC WA NT Beginner', cursive;
      
  }
  .header{
    --background: #D9663D !important;
  }
  .toolbar-container{
    --background: #D9663D !important;
  }

.titulo1{
  --color: #000000 !important;
  font-family: 'Edu VIC WA NT Beginner', cursive;
    
}
.flecha{
    --color:#ffffff;
}